<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">WebStore</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/store">Store</a></li>
      <li><a href="/input">Upload Items</a></li>
      <li><a href="/inputdesign">Upload Designs</a></li>
      <li><a href="/showItems">Show Items</a></li>
    </ul>
  </div>
</nav>
<h1>Hello World!</h1>

  </body>
</html>
